@font-face {
    font-family: Montserrat Personal;
    src: url(/assets/fonts/Montserrat-Bold.ttf);
}
html,body{
    overflow-x: hidden;
    width: 100%;
    font-family: Montserrat Personal;
    font-style: normal;
    font-size: 18px;
}

header{
    display: flex;
    flex-direction: row;
    margin: 8px 5px 50px 30px;
    padding: 15px 5px;
}
